<!doctype html>
<html ng-app="fileExplorer">
    <head>
        <meta charset="utf-8">
        <title>Node.js</title>
        <link rel="stylesheet" href="./css/style.css">
        <script type="text/javascript" src="./js/angular.min.js"></script>
        <script type="text/javascript" src="./js/fileexplorer.js"></script>
    </head>
    <body ng-controller="fileExplorerCtrl">
        <div id="wrapper">
            <header>
                <div id="stepBack" ng-click="stepBack(dataObj.root)"></div>
                <div id="path">{{dataObj.root}}</div>
            </header>
            <ul id="fileList">
                <li tabindex="0" ng-repeat="item in dataObj.files" ng-class="item.dir" ng-dblclick="item.dir != 'file' ? getFileList(dataObj.root + item.name + '\\') : ''" ng-keydown="keyControl($event, item.name)">{{item.name}}</li>
            </ul>
        </div>
    </body>
</html>